<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="blue">
            <h4 class="title">Setup Provider</h4>
          </div>
          <div class="card-content">
            <div class="row">
              <mat-vertical-stepper [linear]="true" #stepper="matVerticalStepper">
                <mat-step [editable]="false" [stepControl]="firstFormGroup">
                  <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Setup Provider</ng-template>
                    <div class="row">
                      <mat-form-field>
                        <mat-select formControlName="provider" placeholder="Provisioners" required>
                          <mat-option disabled>Choose one</mat-option>
                          <mat-option *ngFor="let provider of providers" [value]="provider">
                            {{ provider.viewValue }}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="firstFormGroup.hasError('required')">Please choose a provider</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="row">
                      <div class="input-field col s3">
                        <input formControlName="accessKey" placeholder="Access Key *" id="accessKey" type="text" class="validate" required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s3">
                        <input formControlName="secretKey" placeholder="Secret Key *" id="secretKey" type="text" class="validate" required>
                      </div>
                    </div>
                    <button [disabled]="firstFormGroup.invalid" class="btn btn-primary" mat-button matStepperNext>Next</button>
                  </form>
                </mat-step>
                <mat-step [editable]="false" [stepControl]="secondFormGroup">
                  <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Services</ng-template>
                    <div class="row">
                      <mat-slide-toggle formControlName="Jenkins">Jenkins</mat-slide-toggle>
                    </div>
                    <div class="row">
                      <mat-slide-toggle formControlName="Azure">Azure</mat-slide-toggle>
                    </div>
                    <div class="row">
                      <mat-slide-toggle formControlName="Gerrit">Gerrit</mat-slide-toggle>
                    </div>
                    <div class="row">
                      <mat-slide-toggle formControlName="Nexus">Nexus</mat-slide-toggle>
                    </div>
                    <div>
                      <div class="row">
                        <button [disabled]="secondFormGroup.invalid" class="btn btn-primary" mat-button matStepperNext>Next</button>
                      </div>
                    </div>
                  </form>
                </mat-step>
                <mat-step [editable]="false">
                  <ng-template matStepLabel>Setup Testing</ng-template>
                  <form [formGroup]="testingFormGroup">
                      <div class="row">
                          <mat-form-field>
                            <mat-select formControlName="Server" placeholder="Server">
                              <mat-option disabled>Choose one</mat-option>
                              <mat-option *ngFor="let server of servers" [value]="server">
                                {{ server.viewValue }}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="firstFormGroup.hasError('required')">Please choose a provider</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="row">
                          <mat-form-field>
                            <mat-select formControlName="Framework" placeholder="Framework">
                              <mat-option disabled>Choose one</mat-option>
                              <mat-option *ngFor="let framework of frameworks" [value]="framework">
                                {{ framework.viewValue }}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="firstFormGroup.hasError('required')">Please choose a provider</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="row">
                          <mat-form-field>
                            <mat-select formControlName="WebDriver" placeholder="Webdriver">
                              <mat-option disabled>Choose one</mat-option>
                              <mat-option *ngFor="let webdriver of webdrivers" [value]="webdriver">
                                {{ webdriver.viewValue }}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="firstFormGroup.hasError('required')">Please choose a provider</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="row">
                          <div class="input-field col s3">
                            <input formControlName="ServerInfo" id="ip" type="text" class="validate">
                            <label for="ip">Ip</label>
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s3">
                            <input id="port" formControlName="PortInfo" type="number" class="validate">
                            <label for="port">Port</label>
                          </div>
                        </div>
                  </form>
                  <div class="row">
                      <button class="btn btn-primary" mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                  <ng-template matStepLabel>Save</ng-template>
                  <div class="row">
                    <div class="switch">
                      <label>
                        Preview Off
                        <input type="checkbox" [(ngModel)]="showPreview">
                        <span class="lever"></span>
                        Preview On
                      </label>
                    </div>
                  </div>
                  <div *ngIf="showPreview" class="row">
                    <app-new-connection-preview [providerValues]="firstFormGroup.value" [servicesValues]="secondFormGroup.value" [testingValues]="testingFormGroup.value"></app-new-connection-preview>
                  </div>
                  <br>
                  <div class="row" *ngIf="errorSaving">
                      <span class="alert alert-danger"> Oops! Try again</span>
                  </div>
                  <div class="row">
                      <mat-progress-bar *ngIf="loading" mode="buffer"></mat-progress-bar>
                  </div>
                  <div>
                      <button (click)="save()" class="btn btn-success" mat-button>Save</button>
                  </div>
                </mat-step>
              </mat-vertical-stepper>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>