<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="red">
                            <h4 class="title">Material Dashboard Heading</h4>
                            <p class="category">Created by Richard Hern</p>
                        </div>
                        <div class="card-content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem magni at quaerat officia! Quod reiciendis temporibus dolorem maxime. Veniam id vitae corporis velit commodi quisquam hic laborum impedit praesentium perferendis?
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>