<div class="row">
  <nav class="nav-extended" style="background-color: #0086c3">
    <div class="nav-wrapper">
      <img src="https://avatars1.githubusercontent.com/u/25673011?s=200&v=4" style="width: 35px">
      <a href="#!" class="brand-logo" style="color: #D4D4D4;">Jenkins project</a>
      <ul class="right hide-on-med-and-down">
        <li><a>Preferences</a></li>
      </ul>
    </div>
    <div class="nav-content" style="background-color: #0086c3">
      <span class="nav-title">Projects</span>
      <a class="btn-floating btn-large pulse halfway-fab waves-effect waves-light teal modal-trigger" href="#modal1">
        <i class="material-icons">add</i>
      </a>
    </div>
  </nav>
</div>
<br>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- Card Project -->
        <div *ngFor="let project of projects" class="col s12 m3">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{project.name}}</span>
              <p >
                {{project.description}}
              </p>
            </div>
            <div class="card-action">
              <a [routerLink]="['projects/'+project.id]">Go to project</a>
            </div>
          </div>
        </div>
        <!--Card Project-->
      </div>
    </div>
  </div>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-header">
    <h4 class="center-align">Crear nuevo projecto</h4>
  </div>
  <div class="modal-content">


    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="first_name" type="text" class="validate">
            <label for="first_name">Project Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <select formControlName="name" materialize="material_select" [materializeSelectOptions]="scriptsToSelect">
              <option value="" disabled selected>Choose region</option>
              <option *ngFor="let option of regionToNewProjectForm" [value]="option.name">{{option.name}}</option>
            </select>
            <label>Script: </label>
          </div>
        </div>
      </form>
    </div>


  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat ">Create</a>
  </div>
</div>




