<div class="row">
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Jenkins project Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a>A link</a></li>
        <li><a>A second link</a></li>
        <li><a>A third link</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <span class="nav-title">Title</span>
      <a class="btn-floating btn-large pulse halfway-fab waves-effect waves-light teal">
        <i class="material-icons">add</i>
      </a>
    </div>
  </nav>
</div>
<br>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- Card Project -->
        <div class="col s12 m3">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">New Project</span>
              <p >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque doloremque error exercitationem facilis fuga fugiat iusto laborum libero magni maxime minus modi neque numquam obcaecati quaerat quisquam reprehenderit, ut voluptatem?
              </p>
            </div>
            <div class="card-action">
              <a [routerLink]="['projects/1']">Go to project</a>
            </div>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Project name</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem laboriosam, magni maiores minima perferendis sit! Adipisci aspernatur corporis eaque, incidunt ipsam ipsum, nobis quia sapiente sequi tenetur vero voluptas!</p>
            </div>
            <div class="card-action">
              <a href="#">Go to project</a>
            </div>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Project name</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem laboriosam, magni maiores minima perferendis sit! Adipisci aspernatur corporis eaque, incidunt ipsam ipsum, nobis quia sapiente sequi tenetur vero voluptas!</p>
            </div>
            <div class="card-action">
              <a href="#">Go to project</a>
            </div>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Project name</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem laboriosam, magni maiores minima perferendis sit! Adipisci aspernatur corporis eaque, incidunt ipsam ipsum, nobis quia sapiente sequi tenetur vero voluptas!</p>
            </div>
            <div class="card-action">
              <a href="#">Go to project</a>
            </div>
          </div>
        </div>

        <!--Card Project-->
      </div>
    </div>
  </div>
</div>

