<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="blue">
                        <h4 class="title">Jenkins Status</h4>
                    </div>
                    <div class="card-content">
                        <div class="row" *ngIf="status == 'SUCCESS'">
                            <div class="center-align ">
                                <i class="material-icons" style="font-size: 150px">check_circle</i>
                            </div>
                            <div class="center-align">
                                <div class="alert alert-success" role="alert">
                                    <samp>{{message}}</samp>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="status == 'WARNING'">
                            <div class="center-align ">
                                <i class="material-icons" style="font-size: 150px">warning</i>
                            </div>
                            <div class="center-align">
                                <div class="alert alert-warning" role="alert">
                                    <samp>{{message}}</samp>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="status == 'FAILURE'">
                            <div class="center-align ">
                                <i class="material-icons" style="font-size: 150px">error</i>
                            </div>
                            <div class="center-align">
                                <div class="alert alert-danger" role="alert">
                                    <samp>{{message}}</samp>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="status == 'PENDING'">
                            <div class="center-align ">
                                <i class="material-icons" style="font-size: 150px">watch_later</i>
                            </div>
                            <div class="center-align">
                                <div class="alert alert-primary" role="alert">
                                    <samp>{{message}}</samp>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <div class="center-align">
                                    <div class="col s12">
                                        <div class="card black darken-1">
                                            <div class="card-content white-text">
                                                <span class="card-title blue-grey">Jenkins Log
                                                    <mat-radio-group [(ngModel)]="checkboxLogger">
                                                        <mat-radio-button class="example-margin" value="log">
                                                            Changes
                                                        </mat-radio-button>
                                                        <mat-radio-button class="example-margin" value="output">
                                                            Output
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </span>
                                                <div style="height: 500px; overflow-y: scroll;" >
                                                    <p  class="left-align" *ngFor="let message of logs">
                                                            > {{message.message}}
                                                    </p> 
                                                </div>
                                                <div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="isGettingLogs || isGettingStatus">
                            <div class="center-align">
                                <div class="preloader-wrapper big active">
                                    <div class="spinner-layer spinner-blue-only">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="gap-patch">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>