<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-12">
                                <form [formGroup]="form">
                                    <div class="row">
                                        <div class="center-align">
                                            <div class="row">
                                                <!-- Switch -->
                                                <div class="switch">
                                                    <label> JENKINS </label>
                                                    <label>
                                                        <input (change)="sendToBack('jenkins')" formControlName="jenkins" type="checkbox">
                                                        <span class="lever"></span>
                                                        <i *ngIf="form.controls.jenkins.value == true" class="material-icons right" style="font-size: 15px">done</i>
                                                    </label>
                                                </div>
                                                <!-- Switch -->
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <!-- Switch -->
                                                <div class="switch">
                                                    <label> AZURE </label>
                                                    <label>
                                                        <input (change)="sendToBack('azure')" formControlName="azure" type="checkbox">
                                                        <span class="lever"></span>
                                                        <i *ngIf="form.controls.azure.value == true" class="material-icons right" style="font-size: 15px">done</i>
                                                    </label>
                                                </div>
                                                <!-- Switch -->
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <!-- Switch -->
                                                <div class="switch">
                                                    <label> GERRIT </label>
                                                    <label>
                                                        <input (change)="sendToBack('gerrit')" formControlName="gerrit" type="checkbox">
                                                        <span class="lever"></span>
                                                        <i *ngIf="form.controls.gerrit.value == true" class="material-icons right" style="font-size: 15px">done</i>
                                                    </label>
                                                </div>
                                                <!-- Switch -->
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <!-- Switch -->
                                                <div class="switch">
                                                    <label> NEXUS </label>
                                                    <label>
                                                        <input (change)="sendToBack('nexus')" formControlName="nexus" type="checkbox">
                                                        <span class="lever"></span>
                                                        <i *ngIf="form.controls.nexus.value == true" class="material-icons right" style="font-size: 15px">done</i>
                                                    </label>
                                                </div>
                                                <!-- Switch -->
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>