<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="blue">
                        <h4 class="title">Pipeline Generator</h4>
                        <p class="category">Created by Richard Hern</p>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col s12">
                                <button [disabled]="isAddingOption" (click)="isAddingOption = true" class="btn waves-effect waves-light" type="submit" name="action">Add
                                    <i class="material-icons right">add</i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <app-pipeline-generator-form *ngIf="isAddingOption" (cancelAddingEvent)="isAddingOption = false "></app-pipeline-generator-form>
                                <!-- <form [formGroup]="form" class="col s6" *ngIf="isAddingOption">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <div class="input-field col s12">
                                                <select formControlName="name" materialize="material_select" [materializeSelectOptions]="optionsPipeline">
                                                    <option value="" disabled selected>Choose your option</option>
                                                    <option *ngFor="let option of optionsPipeline" [value]="option.name">{{option.name}}</option>
                                                </select>
                                                <label>Actions: </label>
                                            </div>
                                        </div>
                                    </div>
                                    <button (click)="addAction(form.value); isAddingOption = false" [disabled]="form.invalid" class="btn waves-effect waves-light" type="submit" name="action">Submit
                                        <i class="material-icons right">send</i>
                                    </button>
                                    
                                </form> -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>