<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Material Dashboard Heading</h4>
                        <p class="category">Created by Richar Hern</p>
                    </div>
                    <div class="card-content">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus, aperiam mollitia? Voluptas qui nemo nihil. Corporis sequi enim, laboriosam itaque dolores expedita culpa soluta, quasi iusto facere accusantium quas tempora?
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>