<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="blue">
                        <h4 class="title">Image Dashboard</h4>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-12">
                                <form [formGroup]="form">
                                    <div class="row">
                                        <div class="center-align">
                                            <div class="row">
                                                <!-- Switch -->
                                                <div class="switch">
                                                    <label> JENKINS </label>
                                                    <label>
                                                        <input formControlName="jenkins" type="checkbox">
                                                        <span class="lever"></span>
                                                    </label>
                                                </div>
                                                <!-- Switch -->
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <!-- Switch -->
                                                <div class="switch">
                                                    <label> AZURE </label>
                                                    <label>
                                                        <input formControlName="azure" type="checkbox">
                                                        <span class="lever"></span>
                                                    </label>
                                                </div>
                                                <!-- Switch -->
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <!-- Switch -->
                                                <div class="switch">
                                                    <label> SLAVE</label>
                                                    <label>
                                                        <input formControlName="slave" type="checkbox">
                                                        <span class="lever"></span>
                                                    </label>
                                                </div>
                                                <!-- Switch -->
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <!-- Switch -->
                                                <div class="switch">
                                                    <label> GARRIT </label>
                                                    <label>
                                                        <input formControlName="garrit" type="checkbox">
                                                        <span class="lever"></span>
                                                    </label>
                                                </div>
                                                <!-- Switch -->
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <!-- Switch -->
                                                <div class="switch">
                                                    <label> NEXUS </label>
                                                    <label>
                                                        <input formControlName="nexus" type="checkbox">
                                                        <span class="lever"></span>
                                                    </label>
                                                </div>
                                                <!-- Switch -->
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                    <pre>
                                        {{form.value | json}}
                                    </pre>
                                </form>
                            </div>
                            <button (click)="sendToBack()" class="btn waves-effect waves-light pull-right" type="submit" name="action">Submit
                                    <i class="material-icons right">send</i>
                                  </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>