<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="blue">
                        <h4 class="title">Material Dashboard Heading</h4>
                        <p class="category">Created by Richard Hern</p>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="center-align">
                                        <div class="col-md-6">
                                            <span class="flow-text">I am Flow Text</span>
                                        </div>
                                        <div class="col-md-6">
                                            <!-- Switch -->
                                            <div class="switch">
                                                <label>
                                                    Off
                                                    <input type="checkbox">
                                                    <span class="lever"></span>
                                                    On
                                                </label>
                                            </div>
                                            <!-- Switch -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>